* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-1 {
  width: 100px;
  height: 180px;
}

header {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  max-width: 90vw;
  margin: 1rem auto;
}

.links {
  padding: 20px 0;
  background-color: #299188;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
}

a:hover {
  scale: 1.2;
}

/* shift */
/* .links a {
  position: relative;
  z-index: 1;
}
.links a:hover {
  color: #299188;
}
.links a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #fff;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.links a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
} */
/* banner */
.banner {
  padding: 5px 0;
  background-color: none;
  border: 3px solid #299188;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  max-width: 90vw;
  margin: 1rem auto;
}

h1 {
  text-align: center;
  color: #299188;
  letter-spacing: 1.5px;
}

.banner-img {
  margin: auto;
}

/* animate h1 */
.animate-character {
  text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #299188 0%,
    #0b6860 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2.3rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* content */

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
}

.plants {
  width: 250px;
  height: 200px;
}

.flex {
  width: 320px;
}

.plant {
  padding: 20px;
  border: 3px solid #299188;
  border-radius: 10px;
}
h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #299188;
  letter-spacing: 0.7px;
}

.flex p {
  font-size: 15px;
  letter-spacing: 1px;
}

button {
  margin-top: 1rem;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 15px;
  background: #299188;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
}

button:hover {
  scale: 1.2;
}

/* footer */

.logo-2 {
  width: 60px;
  height: 110px;
}

footer {
  max-width: 90vw;
  margin: 1rem auto;
}

.footer {
  padding: 20px;
  background-color: #299188;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.footer p {
  font-size: 20px;
  color: #fff;
  text-align: right;
  width: 30%;
}
